.orga {
  color: red;
  padding-left: 20px;
  padding-top: 50px;
}

.text {
  color: green;
  padding-left: 50px;
  padding-top: 70px;
}

.the-bod {
  background-image: url("download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.block {
  display: block;
  .text{
    display: block;
  }
}
